body {
    background: black;
    color:white;
    font-family: 'SimSun';
}
button {
    background-color: gray;
    border: none;
    color: white;
}

div {
    text-align: center;
    color: white;
}

.big {
    font-size: 240px;
}

.medium {
    font-size: 60px;
}

.small {
    font-size: 50px;
}
.hidden {
    display:none
}

#progressBar {
    width: 90%;
    margin: 10px auto;
    height: 22px;
    background-color: #0A5F44;
}
  
#progressBar div {
    height: 100%;
    text-align: right;
    padding: 0 10px;
    line-height: 22px; /* same as #progressBar height if we want text middle aligned */
    width: 0;
    background-color: #CBEA00;
    box-sizing: border-box;
}