body {
    background: black;
    color:white;
    font-family: 'SimSun';
    font-size: medium;
}

.page {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.big {
    font-size: 120px;
}

.hidden {
    display:none
}

.checked {
    color: orange;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
}

.flex-child:first-child {
    margin-right: 20px;
}

#card {
    font-size: 360px;
}

#score {
    text-align: center;
}

#pinyin div {
    font-size: 48px;
    margin:5px;
    height: 50px;
}

#pinyin input {
    font-size: 16px;
    text-align: center; 
}

#tips div {
    font-size: 24px;
}

#tips table {
    text-align: left;
    margin-top: 30px;
}
